@import "../../styles/configs.css";

.custom-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: background 0.3s, border 0.3s;
  font-size: 16px;
  font-weight: 500;
  gap: 8px;
}

.custom-button.small {
  padding: var(--padding-sm);
  font-size: 14px;
}

.custom-button.medium {
  padding: var(--padding-md);
  font-size: 16px;
}

.custom-button.large {
  padding: var(--padding-lg);
  font-size: 18px;
}

.custom-button.rounded {
  border-radius: 20px;
}

.custom-button.primary {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.custom-button.primary:hover {
  background-color: var(--primary-hover);
}

.custom-button.secondary {
  background-color: var(--secondary-color);
  color: #000;
}

.custom-button.secondary:hover {
  background-color: var(--secondary-hover);
}

.custom-button.outlined {
  background-color: transparent;
  color: var(--border-color);
  border: 2px solid var(--border-color);
}

.custom-button.outlined:hover {
  background-color: rgba(98, 0, 234, 0.1);
}

.custom-button.icon-only {
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-icon {
  font-size: var(--icon-size);
}
